


.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

#Snack{
    background-image: url("../img/Snacks.jpg");
    background-size:cover ;
}

#Ramen{
    background-image: url("../img/Ramen.jpg");
    background-size:cover ;
}


#TofuAndMiso{
    background-image: url("../img/Tofu.jpg");
    background-size:cover ;
}


#Te{
    background-image: url("../img/Te.jpg");
    background-size:cover ;
}


#Liqueur{
    background-image: url("../img/Liqueur.jpg");
    background-size:cover ;
}


#Soda{
    background-image:url("../img/Soda.jpg") ;
    background-size:cover ;
}

.col-md-12{
    height: 250px;

}

.row{
    margin-bottom: 20px;
    margin-left: 0.5px!important;
    margin-right: 0.5px!important;
}

.products-title{
    min-height: 80px;
}










